<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	
	<bean id="userBuyerServiceAjax" class="com.eshop.service.ajax.UserBuyerServiceAjax" />
	<bean id="productViewServiceAjax" class="com.eshop.service.ajax.ProductViewServiceAjax" />

	<bean name="buffaloConfigBean" class="net.buffalo.service.BuffaloServiceConfigurer">
		<property name="services">
			<map>
				<entry key="userBuyerServiceAjax">
					<ref bean="userBuyerServiceAjax" />
				</entry>
				<entry key="productViewServiceAjax">
					<ref bean="productViewServiceAjax" />
				</entry>
			</map>
		</property>
	</bean>

</beans>